h1 {
    color:black
    padding:5px;
	
}
h2{
color:blue;
font-size:20px
}

body {
	background-image: url("http://www.ljhs.sandi.net/faculty/volger/volger.jpg")
    background-color: #00FA9A;
}
table, th, td {
   border: 1px solid black;
} 
table {
    border-collapse: semi-expanded;
	width: 100%;
}

th {
    height: 50px;
	background-color: lime;
    color: red;
} 
form * {
    display: block;
    width: 200px;
    margin: 10px;
}

.hidden-form {
    display: none;
}
